* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'sango';
  src: url('SangoUppercase-Static.otf') format('opentype')
}
@font-face {
  font-family: 'monotonia';
  src: url('monotonia.otf') format('opentype')
}
@font-face {
  font-family: 'foerte';
  src: url('FOERTE.ttf') format('truetype');
}
@font-face {
  font-family: 'stella';
  src: url('Stella Demo.otf') format('opentype')
}
.welcome-title, .welcome-title-in {
  /* text-transform: uppercase; */
  /* font-family: 'sango', Fallback, sans-serif; */
  /* font-family: 'Fascinate', cursive; */
  /* -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: black; */
  /* letter-spacing: -10px; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'foerte', Fallback, sans-serif; */
  font-family: 'stella', Fallback, serif;
  color: rgb(255,255,0);
  font-weight: 100;
  font-size: 100px;
  text-align: center;
  /* color: white; */
  /* border: 2px solid white; */
  margin-top: 150px;
  margin-bottom: 55px;
  margin-left: 0;
  letter-spacing: 2px;
}

.welcome-title-in {
  margin-top: 60px;
  margin-left: -150px;
  /* position: absolute; */
  font-size: 70px;
  padding-right: 5px;
}
#btn {
  color: white;
  background-color: #282828;
  border: 1.5px solid #181818;
  padding: 3.5px 65px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 100;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  cursor: pointer;
}
#btn:hover{
  background-color: #C0C0C0;
}

.login-signup {
display: flex;
align-items: center;
justify-content: center;
}
#user, #back-btn, #newItemH1, #showH1 {
  font-family: sans-serif;
  text-align: center;
  color: white;
}
#showH1 {
  margin-top: 80px;
}
#input {
margin-bottom: 5px;
padding: 5px 28px;
}
#back-btn button, .submit-btn{
  padding: 5px 30px;
  cursor: pointer;
}
.userName-pass, .formNew{
  display: flex;
  align-items: center;
  justify-content: center;
}
#food-cell {
  height: 200px;
}
.index-table a {
  text-decoration: none;
  color: black;
  font-family: helvetica;
  font-weight: 100;
  font-size: 14px;
}
.index-table td, #delete-btn{
  font-family: helvetica;
  font-weight: 200;
}
#index-table{
  box-shadow: 3px 3px 2px black;
}
#tab-food, #tab-food2{
  border-top-width: 1px;
  border-top-style: groove;
    /* text-align: center; */
}
#tab-food2 {
  text-align: center;
}
#cell {
  text-align: center;
}
#index-table {
  /* backgroun-color: */
  height: 380px;
  width: 460px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(255, 100, 100, .8);
  margin-top: 100px;
}
.index-table {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a, .logOutBtn, #delete-btn2, #edit-btn {
  color: white;
  background-color: #282828;
  border: 1.5px solid #181818;
  padding: 5px 65px;
  font-family: helvetica;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  float: left;
}
a:hover{
background-color: #C0C0C0;
}
.logOutBtn:hover{
background-color: #C0C0C0;
}
#delete-btn2:hover{
background-color: #C0C0C0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  /* position: relative; */
}
body{
  background-color: #181818;
}
#checkImg{
  width: 33.3%;
}
#showUl{
list-style: none;
color: white;
font-family: sans-serif;
/* border: 1px solid #181818; */
border-radius: 10px;
/* background-color: #282828; */
margin-left: 30px;
margin-bottom: 150px;
}
h5{
  font-family: helvetica;
  font-weight: 300;
}
#showUl li {
  padding-bottom: 10px;
  color: white;
  font-family: helvetica;
  font-weight: 100;
  font-size: 14px;
  margin-left: 40px;
}
.in-name a{
  margin-left: 15px;
}
input:focus{
  color: #181818;
  outline: 1px white;
}
.showBtn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 70px;
  margin-bottom: 200px;
}
.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#iframe {
  margin: 20px;
}
#recipe{
  color: white;
  font-family: helvetica;
  font-weight: 300;
  margin-left: 70px
}
