<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Page</h1>
    <form action="/items/<%=items.id%>?_method=PUT" method="POST">
      <input type="text" name="name" value="<%=items.name%>"><br/>
      <input type="text" name="type" value="<%=items.type%>"><br/>
      <input type="date" name="expiration" value="<%=items.expiration%>"><br/>
      Ready to Eat:
      <input
      type="checkbox"
      name="readyToEat"
      <% if (items.readyToEat === true) { %>
        checked
      <% } %>
      />
      <br/>
      <input type="submit" value="Submit Changes">
    </form>
    <a href="/items/">Home</a>
  </body>
</html>
