<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Item Page</h1>
    <form action="/items" method="POST">
      <input type="text" name="name" placeholder="name"/><br/>
      <input type="text" name="type" placeholder="type"/><br/>
      <input type="date" name="expiration" placeholder="expiration"/><br/>
      Ready to Eat: <input type="checkbox" name="readyToEat"/><br/>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
