<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <% if(currentUser) { %>
      <a href="/items">Welcome <%=currentUser.username%></a>
      <a href="/items">Back</a>
      <form action="/sessions?_method=DELETE" method="post">
          <input class="logOutBtn" type="submit" value="Log Out">
      </form>
      <% } %>
    </nav>
    <h1 class="welcome-title-in">Stocked</h1>
    <div class="new-container">
    <h1 id="newItemH1" >New Item</h1>
    <div class="formNew">
    <form action="/items" method="POST">
      <input id="input" type="text" name="name" placeholder="name"/><br/>
      <input id="input" type="text" name="type" placeholder="type"/><br/>
      <input id="input" type="date" name="expiration"/><br/>
      Ready to Eat: <input type="checkbox" name="readyToEat"/><br/>
      <input id="input" class="submit-btn" type="submit" value="Submit"/>
    </form>
    </div>
    </div>
  </body>
</html>
