<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome Cap'n</h1>
    <a href="/sessions/new"><button type="button">Log In</button></a>
    <a href="/users/new"><button type="button">Sign Up</button></a>
  </body>
</html>
