<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1 class="welcome-title">Stocked</h1>
    <div class="login-container">
      <h1 id="user">Log In</h1>
      <div class="userName-pass">
      <form id="form-login" action="/sessions" method="POST">
        <!-- <label for="name">User Name:</label><br/> -->
        <input id="input" type="text" placeholder="Username" name="username" required/><br/>
        <!-- <label for="color">Password:</label><br/> -->
        <input id="input" type="password" placeholder="Password" name="password"/>
        <br/>
        <input class="submit-btn" type="submit" value="Submit">
        <a id="back-btn" href="/"><button type="button">Back</button></a>

      </form>
    </div>
    </div>
  </body>
</html>
