<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="signup-container">
      <h1 id="user">New User</h1>
      <div class="userName-pass">
      <form action="/users" method="POST">
        <!-- <label for="name">User Name:</label> -->
        <input id="input" type="text" placeholder="Username" name="username" required/><br/>
        <!-- <label for="color">Password:</label> -->
        <input id="input" type="password" placeholder="Password" name="password" /><br/>
        <input class="submit-btn" type="submit" value="Submit">
        <a id="back-btn" href="/"><button type="button">Back</button></a>
      <form>
    </div>
    </div>
  </body>
</html>
